<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/nintendo3ds_delivery_title">
        <dist:delivery>
            <dist:install-time>
                <dist:removable dist:value="true" />
            </dist:install-time>
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application>
        <activity
            android:name=".Nintendo3DsSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nintendo3DsProductActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
    </application>
</manifest>
