<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".Nintendo3DsDeliveryProbeActivity"
            android:enabled="${EMUORBIT_N3DS_DELIVERY_TEST_ENABLED}"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
