<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".Nintendo3DsAdrenoTargetApplication"
        android:allowBackup="false"
        android:hasCode="true"
        android:label="EmuOrbit 3DS Adreno QA"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".Nintendo3DsAdrenoSurfaceActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
        <activity
            android:name="com.mateussouza.emuorbit.n3ds.core.Nintendo3DsLifecycleTestActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
    </application>
</manifest>
